.header {
    flex-wrap: wrap;
    background: $primaryColor;
    color: $textLight;

    .left-section {
        line-height: 1;
        flex-wrap: wrap;

        .tririga-btn-wrapper button {
            background-color: $buttonColor;
            color: $textLight;
            font-weight: normal;
        }
    }

    .help-icon-wrapper {
        mat-icon {
            color: $textLight;
        }
    }
}